.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
.logo {
    height: 70px;
    width: 100px;
    padding-top: 15px;
    padding-left: 10px;
    justify-content: center;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

.restaurant-card {
    padding: 10px;
    margin: 10px;
    /* height: 300px; */
    width: 220px;
    background-color: #f0f0f0;
    margin: 5px;
    border-radius: 10px;
}

.restaurant-card:hover {
    border: 1px solid black;
}
.rest-card-image {
    height: 140px;
    width: 200px;
}

.Search {
    display: flex;
    justify-content: end;
    padding: 10px;
    margin: 10px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}